services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tasks_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    env_file:
      - .env
    environment:
      PYTHONPATH: /app
    ports:
      - "8001:8000"   # щоб не конфліктував 8000
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  pgdata: